<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href='jmlacroix gmail' rel='author' title='Jean-Michel Lacroix' />
    <link href='http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_CA' rel='license' title='cc-by-nc-sa' />
    <link href='/favicon.ico' rel='shortcut icon' />
    <link href="/css/screen.css" rel="stylesheet" />
    <link href="/atom.xml" rel="alternate" title="jmlacroix" type="application/atom+xml" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }}</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18616544-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    {{ content }}
 
  </body>
 </html>
