---
layout: default
---

<h1>{{ page.title }}
    <span>
      {% capture day %}{{ page.date | date: "%d" }}{% endcapture %}
      {% capture month %}{{ page.date | date: "%b" | downcase }}{% endcapture %}
      {% capture smonth %}{% case month %}{% when 'jan' %}ja{% when 'feb' %}fe{% when 'mar' %}mr{% when 'apr' %}al{% when 'may' %}ma{% when 'jun' %}jn{% when 'jul' %}jl{% when 'aug' %}au{% when 'sep' %}se{% when 'oct' %}se{% when 'nov' %}no{% when 'dec' %}de{% endcase %}{% endcapture %}
      {{ smonth }}{{ day }}
    </span>
</h1>

{{ content }}
